<div class="control-group">
{{ form_label(form.sucursal,"Sucursal", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.sucursal, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_sucursal_errorloc' class="help-inline error" >{{ form_errors(form.sucursal) }}</div>
</div>
</div>

<div class="control-group">
{{ form_label(form.imeiLegacy,"Imei equipo Legacy", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.imeiLegacy, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_imeiLegacy_errorloc' class="help-inline error" >{{ form_errors(form.imeiLegacy) }}</div>
</div>
</div>

<div class="control-group">

{{ form_label(form.modeloLegacy,"Modelo Legacy", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
{{ form_widget(form.modeloLegacy, { 'attr': {'class': 'input-xlarge'} }) }}
    
<div id='backend_adminbundle_modeloLegacy_errorloc' class="help-inline error" >{{ form_errors(form.modeloLegacy) }}</div>  
</div>
</div> 

<div class="control-group">

{{ form_label(form.motivo,"Motivo", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
{{ form_widget(form.motivo, { 'attr': {'class': 'input-xlarge'} }) }}
    
<div id='backend_adminbundle_motivo_errorloc' class="help-inline error" >{{ form_errors(form.motivo) }}</div>  
</div>
</div> 

<div class="control-group">

{{ form_label(form.imeiNuevo,"Imei Nuevo", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
{{ form_widget(form.imeiNuevo, { 'attr': {'class': 'input-xlarge'} }) }}
    
<div id='backend_adminbundle_imeiNuevo_errorloc' class="help-inline error" >{{ form_errors(form.imeiNuevo) }}</div>  
</div>
</div> 

<div class="control-group">

<div class="controls">
{{ form_widget(form.idNuevo, { 'attr': {'class': 'input-xlarge'} }) }}
 
</div>
</div>

<div class="control-group">

<label class="control-label">Modelo Nuevo</label>

<div class="controls">

<div id="backend_adminbundle_canje_modeloNuevo"></div>

</div> 
</div>






