<div class="control-group">
{{ form_label(form.name,"Nombre Comercial", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.name, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_modelo_name_errorloc' class="help-inline error" >{{ form_errors(form.name) }}</div>
</div>
</div>
<div class="control-group">
{{ form_label(form.nameManufacture,"Nombre Fábrica", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.nameManufacture, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_modelo_nameManufacture_errorloc' class="help-inline error" >{{ form_errors(form.nameManufacture) }}</div>
</div>
</div>

<div class="control-group">

{{ form_label(form.clasificacion,"Clasificacion", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
{{ form_widget(form.clasificacion, { 'attr': {'class': 'input-xlarge'} }) }}
    
<div id='backend_adminbundle_producto_clasificacion_errorloc' class="help-inline error" >{{ form_errors(form.clasificacion) }}</div>  
</div>
</div> 

<div class="control-group">

{{ form_label(form.isLegacy,"Legacy", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
{{ form_widget(form.isLegacy, { 'attr': {'class': 'input-xlarge'} }) }}
    
<div id='backend_adminbundle_producto_isLegacy_errorloc' class="help-inline error" >{{ form_errors(form.isLegacy) }}</div>  
</div>
</div> 



